/* single */

@import "tailwindcss";
@source "../**/*.{vue,ts}";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}
@theme {
  --color-sky-base: #f2f7f9;
}

@font-face {
  font-family: "Happy Monkey";
  src: url("/fonts/HappyMonkey-Regular.ttf") format("truetype");
}

* {
  font-family: "Happy Monkey";
  /* font-family: "Comic Sans MS", fantasy; */
}

html {
  @apply bg-sky-base overflow-scroll text-black;
  scrollbar-width: none;
}

button,
div[role="button"] {
  @apply cursor-pointer focus:outline-none active:scale-90 active:transition-transform;
}
button[disabled] {
  @apply cursor-not-allowed! active:scale-100!;
}

input[type="number"] {
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
  @apply appearance-none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.transparent-sprite {
  background: conic-gradient(#ddd 25%, #fff 0 50%, #ddd 0 75%, #fff 0) 0 0 / 4rem 4rem;
}
.transparent-sprite-sm {
  background: conic-gradient(#ddd 25%, #fff 0 50%, #ddd 0 75%, #fff 0) 0 0 / 1rem 1rem;
}
