.prettierrc.json
app/app.vue
app/assets/main.css
app/components/Canvas.vue
app/components/ColorPicker.vue
app/components/Gui/Menu.vue
app/components/Gui/Slider.vue
app/components/History.vue
app/components/LeftHud/LeftHud.vue
app/components/LeftHud/Position.vue
app/components/LeftHud/Zoom.vue
app/components/LeftMenu/Colors.vue
app/components/LeftMenu/History.vue
app/components/LeftMenu/LeftMenu.vue
app/components/LeftMenu/Modifiers.vue
app/components/LeftMenu/Tools.vue
app/components/RightMenu/LayerInteractions.vue
app/components/RightMenu/Layers.vue
app/components/RightMenu/RightMenu.vue
app/composables/events.ts
app/composables/history.ts
app/composables/tools.ts
app/pages/draw.vue
app/plugins/no-drag-images.client.ts
app/stores/canvas.ts
app/stores/tools.ts
app/utils/colors.ts
app/utils/fonts.ts
app/utils/tools.ts
app/utils/utils.ts
index.d.ts
public/bspaint.svg
public/fonts/HappyMonkey-Regular.ttf
public/icons/brush.svg
public/icons/check.svg
public/icons/close.svg
public/icons/coordinate.svg
public/icons/delete.svg
public/icons/droplet.svg
public/icons/eye.svg
public/icons/eyedropper.svg
public/icons/font.svg
public/icons/lock.svg
public/icons/redo.svg
public/icons/select.svg
public/icons/swap.svg
public/icons/text-size.svg
public/icons/text.svg
public/icons/undo.svg
public/icons/unlock.svg
public/icons/zoom-out.svg
public/icons/zoom.svg
tsconfig.json
