.prettierrc.json
app/app.vue
app/components/Canvas.vue
app/components/ColorPicker.vue
app/components/Gui/Menu.vue
app/components/History.vue
app/components/RightMenu/LayerInteractions.vue
app/components/RightMenu/Layers.vue
app/components/RightMenu/RightMenu.vue
app/composables/history.ts
app/composables/tools.ts
app/pages/draw.vue
app/stores/canvas.ts
app/stores/tools.ts
app/utils/colors.ts
app/utils/fonts.ts
app/utils/tools.ts
app/utils/utils.ts
index.d.ts
public/bspaint.svg
public/icons/brush.svg
public/icons/check.svg
public/icons/close.svg
public/icons/delete.svg
public/icons/eraser.svg
public/icons/eye-off.svg
public/icons/eye.svg
public/icons/eyedropper.svg
public/icons/fill.svg
public/icons/keyboard-off.svg
public/icons/keyboard.svg
public/icons/lock.svg
public/icons/plus.svg
public/icons/redo.svg
public/icons/return-left.svg
public/icons/return-right.svg
public/icons/save.svg
public/icons/select-off.svg
public/icons/select.svg
public/icons/text.svg
public/icons/undo.svg
public/icons/unlock.svg
tsconfig.json
