.prettierrc.json
app/app.vue
app/assets/main.css
app/pages/draw.vue
app/stores/user.ts
app/utils/fonts.ts
public/bspaint.svg
public/icons/brush.svg
public/icons/close.svg
public/icons/delete.svg
public/icons/eraser.svg
public/icons/eye-off.svg
public/icons/eye-on.svg
public/icons/eyedropper.svg
public/icons/fill.svg
public/icons/keyboard-off.svg
public/icons/keyboard.svg
public/icons/lock.svg
public/icons/plus.svg
public/icons/redo.svg
public/icons/return-left.svg
public/icons/return-right.svg
public/icons/save.svg
public/icons/select-off.svg
public/icons/select.svg
public/icons/text.svg
public/icons/undo.svg
public/icons/unlock.svg
tsconfig.json
