@import "tailwindcss";
@plugin "daisyui" {
  prefix: "du-";
  logs: false;
}

* {
  font-family: "Comic Sans MS", fantasy;
}

html {
  @apply overflow-scroll bg-sky-100 text-black;
  scrollbar-width: thin;
}

button,
div[role="button"] {
  @apply cursor-pointer;
}

.hide-scrollbar {
  scrollbar-width: none;
}
